.container {
	position:relative;
	width: auto;
	height: 500px;
    overflow:hidden;
}


.vertical_divider{
    height:100%;
    width: 5px;
    background: pink;
    cursor: ew-resize;
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 20%;
    z-index:100;
}

.vertical_divider:hover{
    background: blue;
}

img {
    left:auto;
    position: absolute;
    display: inline-block;
    height: 100%;
    width:100%;
}

#top{
    z-index:2;
    left:20%;
}

#bottom{
    z-index:1;
}
