<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8">
    <title>Image Board SPA</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <div class="parent">
        <a href='/'><h1>Image Board SPA</h1></a>
    </div>

    <div id="images" class="parent">
        <form id="addImage">
            <label for="image">Image: </label><input id="url" type="url" />
            <label for="title">Title: </label><input id="title" type="text" />
            <label for="author">Author: </label><input id="user_name" type="text" />
            <label for="keywords">Description: </label><input id="description" type="text" />
            <button type="submit" id="add">Add</button>
        </form>
        <div id="content"></div>
    </div>


    <script id="imageTemplate" type="text/underscore">
    <a href='#image/<%=id%>'><img class = "polaroid" src="<%= url %>"/></a>
    <ul>
    <li><%= _.escape(title) %></li>
    <li><%=_.escape(user_name) %></li>
    <li><%=_.escape(description)%></li>
    </ul>
    </script>


    <script id="imageZoom" type="text/underscore">
    <img class = "polaroid" src="<%= url %>"/>
    <ul>
    <li><%= _.escape(title) %></li>
    <li><%=_.escape(user_name) %></li>
    <li><%=_.escape(description)%></li>
    </ul>
    <textarea id="commentsInput" placeholder="comment here" name="comments"></textarea>
    <textarea id="user" placeholder="enter your name"></textarea>

    <div id="comments">
    <% _.each(comments, function(singlecomment){ %>
        <div class="single-comment">
        <%= singlecomment['comment'] %>
        </div>
    <%}); %>
    </div>


    <button type="button" id="addComment">Add Comment</button>
    <a href="/"><button>Back to home</button></a>
    </script>


    <script type="text/javascript" src="/js/handlebars.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script type="text/javascript" src="/js/Models/singleImageModel.js"></script>
    <script type="text/javascript" src="/js/Models/galleryModel.js"></script>
    <script type="text/javascript" src="/js/Views/singleImageView.js"></script>
    <script type="text/javascript" src="/js/Views/galleryView.js"></script>
    <script type="text/javascript" src="/js/Views/zoomImageView.js"></script>
    <script type="text/javascript" src="/js/Models/commentModel.js"></script>
    <script type="text/javascript" src="/js/Models/commentsModel.js"></script>
    <!-- <script type="text/javascript" src="/js/Views/commentsView.js"></script> -->
    <script type="text/javascript" src="js/client.js"></script>
    <script type="text/javascript" src="js/Router.js"></script>



</body>

</html>
