.container{
    position:relative;
    left:40%;
}


 img {
position:relative;
height: 300px;
width: auto;
left: 40%;
top: 60%;
}

h3 {
    position: relative;
    /*left: 50%;*/
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.item_details {
    position:relative;
    /*left: 50%;*/
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #9d9d9d;
    display: block;
    white-space: nowrap;
	margin: 0 0 2em;
}

p{
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position:relative;
    top: 30%;
    /*left: 40%;*/
}
