<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Portfolio App - Home</title>
</head>
{{> head}}
<body>
    {{> header }}

    <!-- Uses built-in `if` helper. -->
  {{#if showTitle}}
    <h1>Welcome to my Portfolio</h1>
  {{/if}}


</body>
</html>
